<html lang='en'>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   </head>
   <body style='font-family: Open Sans, Helvetica Neue, Arial, sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);'>
     <div id='main'>
       <div style='padding-left: 5%; padding-right: 5%;'>
         <ul style='float: left; width: 100%; padding-left: 0px;'>
            <?php
                foreach ($tutor->Offerings as $Offering) {
                    echo "<li>" . $Offering->InformalName . ": " . $Offering->OfficialIdentifier . " | " . $Offering->OfficialName . " <strong>" . $Offering->Grade . "</strong></li>";
                }
            ?>
         </ul>
        <p style='float: left; width: 100%;'><span>Bio: </span><?php echo $tutor->Bio; ?></p>
        <p style='float: left; width: 100%;'>
            <?php
                echo $tutor->College . ", " . $tutor->Major . ": " . $tutor->Year;
            ?>
        </p>
        <?php
            if($tutor->MessengerLink != "" || $tutor->MessengerLink != null) {
                echo "<a href='http://" . $tutor->MessengerLink . "' style='float: left; width: 100%; margin-bottom: 10px;'>" . $tutor->MessengerLink . "</a>";
            }
            else {
                echo "<p>No Facebook</p>";
            }
        ?>
        <br>
        <a href='mailto:
        <?php
            echo $tutor->Email . "?Subject=Your Application" . "&Body=" . rawurlencode("Dear " . $tutor->FirstName . ",\n\nThank you for applying to be a tutor with us! I've verified your information, and your profile looks great. As a last step in your application process, please reply to this email with:\n1. A copy of your unofficial transcript (feel free to crop out any information about your other classes if you do not feel comfortable sharing).\n2. Verification that you've read and understand the tutoring guidelines below (also at http://tutormarketplace.info/TutoringGuidelines.html).\n\nTutoring Guidelines:\n1. As a new tutor, we start you in the level 1 ($) price category, $10-14. This means that your rate for all first tutoring sessions is your base rate, $10, and all sessions from there on can be negotiated within your level range ($10-14) based on your availability and regularity of sessions, and your rate for a 2 person tutoring session is $14, your upper rate.\n2. You must fill out a session form at the end of each tutoring session by signing in to your account and going to Session Form. This provides us with critical information and automatically emails the student a receipt and a link to rate your session. You can do it on your phone or your computer.\n3. All student ratings and our rating process are confidential, but we will give you general feedback when we feel that it is in your best interest for improvement.\n4. Once you have done a number of sessions and received ratings, you will have the ability to move to the next price category. We will notify you when you are eligible.\n\nSincerely,\nCorey Salzer\nTutor Marketplace Co-Founder");
        ?>' style='float: left; width: 100%;'><?php echo $tutor->Email ?></a>
       </div>
     </div>
   </body>
</html>
