<html lang='en'>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   </head>
   <body style='font-family: Open Sans, Helvetica Neue, Arial, sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);'>
     <div id='nav' style='background-color: #F05F40; right: 0;left: 0; width: 100%; height: 50px;'>
      <div style='float: left;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;'>
         <a style='
                  text-decoration: none;
                  color: rgba(255,255,255,.7);
                  margin-left: -15px;
                  float:left;
                  padding: 15px 15px;
                  font-size:18px;
                  line-height:20px;
                  font-weight: 700;
                  text-transform: uppercase;'
            href='http://tutormarketplace.info'>Tutor Marketplace</a>
       </div>
     </div>
     <div id='main'>
       <div style='padding-left: 5%; padding-right: 5%;'>
         <p style='float: left; width: 100%; font-size: x-large;'>
            <?php
               $sessionNumberForClass = $session->getSessionNumber(true);
               if($session->getSessionNumber() == 1) {
                  echo "Congratulations on your first tutoring session, " . $session->Student->FirstName . "!";
               }
               else if($sessionNumberForClass == 1) {
                  echo "Congratulations on your first " . $session->Offering->InformalName . " tutoring session, " . $session->Student->FirstName . "!";
               }
               else if (Review::getNumberOfReviewsForTutorByStudent($session->Tutor, $session->Student) == 0) {
                  echo "Please rate " . $session->Tutor->FirstName . " - you've had " . $sessionNumberForClass . " tutoring sessions with them, and we need your feedback!";
               }
               else if($sessionNumberForClass == 10) {
                  echo "Congratulations on your tenth " . $session->Offering->InformalName . " tutoring session, " . $session->Student->FirstName . "!";
               }
               else {
                  echo "Good job on " . $session->Offering->InformalName . " tutoring session #" . $sessionNumberForClass . ", " . $session->Student->FirstName . "!";
               }
            ?>
         </p>
         <i style='float: left; width: 100%; padding-bottom: 10px; color: #777;'>
            <?php
               echo "$" . $session->TotalAmountOwed . ".00"
            ?> |
            <?php
               if ($session->Duration == 1) {
                  echo $session->Duration , ' hour';
               }
               else {
                  echo $session->Duration . ' hours';
               }
            ?>
         </i>
         <i style='float: left; width: 100%; padding-bottom: 10px; color: #777;'><?php echo date_format($session->Date, "l F jS\, Y") ?></i>
         <i style='float: left; width: 100%; padding-bottom: 10px; color: #777;'><?php echo $session->Offering->OfficialName; ?></i>
       </div>
       <div style='padding-left: 5%; padding-right: 5%;'>
         <hr style='float: left; width: 100%; color: #777;'>
         <a style='
                  float: left;
                  margin: 10px 0px;
                  border: none;
                  border-radius: 300px;
                  font-weight: 700;
                  color: #fff;
                  font-size: 14px;
                  background-color: #F05F40;
                  padding: 15px;
                  text-transform: uppercase;
                  line-height: 1.42857143;
                  text-align: center;
                  white-space: nowrap;
                  vertical-align: middle;
                  cursor: pointer;
                  text-decoration: none;'
            href="http://tutormarketplace.info/LeaveReview.html?id=<?php echo $session->Tutor->UserId ?>&first=<?php echo $session->Student->FirstName ?>&last=<?php echo $session->Student->LastName ?>&email=<?php echo $session->Student->Email ?>">Rate <?php echo $session->Tutor->FirstName ?></a>
         <div>
            <strong style='display: flex; font-size: small; padding: 5px 10px; color: #777;'>We need your rating in order to help our tutors improve and ensure you get the best quality tutoring.</strong>
            <i style='display: flex; font-size: x-small; padding: 5px 10px; color: #777;'>Your ratings are confidential.</i>
         </div>
       </div>
     </div>
   </body>
   <style>
      @media(min-width: 768px) {
         #nav {
            display: block;
         }
         #main {
            margin-top: 30px;
         }
      }
      @media (max-width: 768px) {
         #nav {
            display: none;
         }
         #main {
            margin-top: 0px;
         }
      }
   </style>
</html>
